trigger: none

pool:
  vmImage: ubuntu-latest

variables:
- group: SedStartSecrets   # your variable group name

steps:
  - checkout: none

  - task: DockerInstaller@0
    displayName: "Install Docker on agent"

  - script: |
      echo "Pulling SedStart GitHub Action container..."
      docker pull ghcr.io/sedinqa/sedstart:latest
    displayName: "Pull SedStart Docker Image"

  - script: |
      echo "Running SedStart test..."
      docker run \
        -e API_KEY="$(SEDSTART_API_KEY_PROD)" \
        -e PROJECT_ID="334" \
        -e TEST_ID="2093" \
        -e PROFILE_ID="406" \
        -e BROWSER="chrome" \
        -e HEADLESS="false" \
        ghcr.io/sedinqa/sedstart:latest
    displayName: "Run SedStart Test"

